<div class="top-nav">
  <nav>
    <div class="nav-left">
      <a class="button" [routerLink]="['home']" routerLinkActive="active"> <img
          src="../../assets/images/Bethel-Belly-Logo-2.png"></a>
    </div>
    <div class="nav-right">
      <a class="button" [routerLink]="['/menu']" routerLinkActive="active">Menu</a>
      <a class="button" [routerLink]="['/about']" routerLinkActive="active">About</a>
      <a class="button" [routerLink]="['/reviews']" routerLinkActive="active">Reviews</a>
      <a class="button" [routerLink]="['/reservations']" routerLinkActive="active">Reservations</a>
      <a class="button" [routerLink]="['/cart']" routerLinkActive="active">Cart</a>
      <a class="button" [routerLink]="['/login']" routerLinkActive="active">Login</a>
    </div>
  </nav>
</div>
