<div class="all">
  <h1>Where to find us</h1>
  <div class="container">
    <img
      src="https://www.google.com/maps/vt/data=Ch6y1a1hjagarWyDuRXc-QucXUUP5Xk4dzkv6xvH5FE-Jo_5csDqjUl8aFg6XLmkiUHPNhuT35K-5LP7KzskERPCzTyZFVntQxhDS5q9fJDeMoJb0MQ4eHTW7VWUKkK7SQtxDkYgY9e1Ib_1Ys3wXoOuhlSQUry09rjwokpa9EXgd-CZiuE4zs8wtHV06m0cALxeQxyHT_oxXh195SWAGdHzMXAAVRbzNvLD1yUA1YhzSV2qtgZMlSB3Ar-QUzL6pt2E3io8TMi85bVmnEPEsvPSOuk-grgITrTQms8"
      class="image">
    <div class="overlay">
      <button class="text">
        <a
          href="https://www.google.com/maps/dir/37.3276335,-79.2338363/bethel+church+redding/@34.4038108,-118.8462626,4z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x54d292c1900af019:0x8584cc5a213e1fcb!2m2!1d-122.3584268!2d40.6098473">NAVIGATE</a>
      </button>
    </div>
  </div>
  <p>
  <i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> 933 College View Drive, Redding, CA 96003<br>
  <i class="fa fa-phone fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Phone: (530) 246-6000<br>
  <i class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Email: mail@mail.com<br>
</p>

</div>






<!-- <div class="w3-container" id="location" style="padding-bottom:32px;">
    <div class="w3-content" style="max-width:700px">
      <h5 class="w3-center w3-padding-48"><span class="w3-tag w3-wide">WHERE TO FIND US</span></h5>

      <img src="https://www.google.com/maps/vt/data=Ch6y1a1hjagarWyDuRXc-QucXUUP5Xk4dzkv6xvH5FE-Jo_5csDqjUl8aFg6XLmkiUHPNhuT35K-5LP7KzskERPCzTyZFVntQxhDS5q9fJDeMoJb0MQ4eHTW7VWUKkK7SQtxDkYgY9e1Ib_1Ys3wXoOuhlSQUry09rjwokpa9EXgd-CZiuE4zs8wtHV06m0cALxeQxyHT_oxXh195SWAGdHzMXAAVRbzNvLD1yUA1YhzSV2qtgZMlSB3Ar-QUzL6pt2E3io8TMi85bVmnEPEsvPSOuk-grgITrTQms8" class="w3-image" style="width:100%">
      <div class="w3-col m9 w3-panel">
        <div class="w3-large w3-margin-bottom">
          <i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> 933 College View Drive, Redding, CA 96003<br>
          <i class="fa fa-phone fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Phone: (530) 246-6000<br>
          <i class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Email: mail@mail.com<br>
        </div> -->