<div class="header">
  <img src="../../../assets/images/aboutUs.png">
</div>

<div class="tanner">
    <div class="container">
      <img src="https://ca.slack-edge.com/T9P33872P-U0149ET8VNY-bedf89e8f478-512" alt="Avatar" class="image">
      <div class="overlay">
        <button class="text" [routerLink]="['/tanner']" routerLinkActive="active">Tanner Cummings</button>
      </div>
    </div>
  </div>
  
  <div class="pelton">
    <div class="container">
      <img src="https://ca.slack-edge.com/T9P33872P-UP4MLH0UD-395258542bf6-512" alt="Avatar" class="image">
      <div class="overlay">
        <button class="text" [routerLink]="['/jd']" routerLinkActive="active">JD Pelton</button>
      </div>
    </div>
  </div>
  
  <div class="langlois">
    <div class="container">
      <img src="https://ca.slack-edge.com/T9P33872P-U015MSUDRM2-b2a235afdd66-512" alt="Avatar" class="image">
      <div class="overlay">
        <button class="text" [routerLink]="['/jon']" routerLinkActive="active">Jon Langlois</button>
      </div>
    </div>
  </div>

  <div>
    <p>
        It is a long established fact that a reader will be distracted by the readable content of a 
        page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less 
        normal distribution of letters, as opposed to using 'Content here, content here', making it 
        look like readable English. Many desktop publishing packages and web page editors now use 
        Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web 
        sites still in their infancy. Various versions have evolved over the years, sometimes by 
        accident, sometimes on purpose (injected humour and the like).
    </p>
</div>