<div class="header">
    <img src="../../../assets/images/about us.png">
</div>


<div class="tanner">
    <div class="container">
      <img src="https://ca.slack-edge.com/T9P33872P-U0149ET8VNY-bedf89e8f478-512" alt="Avatar" class="image">
      <div class="overlay">
        <button (click)="myFunction()" class="text" [routerLink]="['/tanner']" routerLinkActive="active">Tanner Cummings</button>
      </div>
    </div>
  </div>
  
  <div class="pelton">
    <div class="container">
      <img src="https://ca.slack-edge.com/T9P33872P-UP4MLH0UD-395258542bf6-512" alt="Avatar" class="image">
      <div class="overlay">
        <button class="text" [routerLink]="['/jd']" routerLinkActive="active">JD Pelton</button>
      </div>
    </div>
  </div>
  
  <div class="langlois">
    <div class="container">
      <img src="https://ca.slack-edge.com/T9P33872P-U015MSUDRM2-b2a235afdd66-512" alt="Avatar" class="image">
      <div class="overlay">
        <button class="text" [routerLink]="['/jon']" routerLinkActive="active">Jon Langlois</button>
      </div>
    </div>
  </div>

  