<div class="header">
    <img src="../../../assets/images/reservations.png">
</div>



<div>
    <form action="/action_page.php">
      <label for="fname">First Name</label>
      <input type="text" id="fname" name="firstname" placeholder="First name..">
  
      <label for="lname">Last Name</label>
      <input type="text" id="lname" name="lastname" placeholder="Last name..">

      <label for="pnumber">Phone Number</label>
      <input type="text" id="pnumber" name="pnumber" placeholder="Your number..">

      <label for="email">Number of Guests</label>
      <input type="text" id="party" name="party" placeholder="#">
  
      <label for="date">Date</label>
      <input type="text" id="date" name="date" placeholder="mm/dd/yyyy">

      <label for="diningtime">Time of Dining</label>
      <select id="diningtime" name="diningtime">
        <option value="530">5:30pm</option>
        <option value="545">5:45pm</option>
        <option value="600">6:00pm</option>
        <option value="615">6:15pm</option>
        <option value="630">6:30pm</option>
        <option value="645">6:45pm</option>
        <option value="700">7:00pm</option>
        <option value="715">7:15pm</option>
        <option value="730">7:30pm</option>
        <option value="745">7:45pm</option>
        <option value="800">8:00pm</option>
        <option value="815">8:15pm</option>
        <option value="830">8:30pm</option>
        <option value="845">8:45pm</option>
        <option value="900">9:00pm</option>
        <option value="915">9:15pm</option>
        <option value="930">9:30pm</option>
        <option value="945">9:45pm</option>
        <option value="1000">10:00pm</option>
      </select>
    
      <input (click)="myFunction()" type="submit" value="Submit">
    </form>
  </div>