<!-- <div class="w3-top">
    <div class="w3-bar w3-white w3-wide w3-margin-0 w3-card">
      <a href="#home" class="w3-bar-item w3-button">
        <img src="https://t3.ftcdn.net/jpg/03/55/77/92/360_F_355779218_kDL5VxGSiKwb63EHzAECtjrQbEKXt8CT.jpg" width="75px" height="50px">
      </a>

      <div class="w3-right w3-margin">
        <a href="#menu" class="w3-bar-item w3-button">Menu</a>
        <a href="#about" class="w3-bar-item w3-button">About</a>
        <a href="#reviews" class="w3-bar-item w3-button">Reviews</a>
        <a href="#location" class="w3-bar-item w3-button">Location</a>
        <a href="#cart" class="w3-bar-item w3-button">Cart</a>
        <a href="#checkout" class="w3-bar-item w3-button">Checkout</a>
      </div>
    </div>
  </div> -->

<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-margin-0 w3-card">
    <div id="header">
      <nav>
        <a class="w3-bar-item w3-button"  routerLink="home" routerLinkActive="active"><img src="https://t3.ftcdn.net/jpg/03/55/77/92/360_F_355779218_kDL5VxGSiKwb63EHzAECtjrQbEKXt8CT.jpg" width="75px" height="50px"></a>
        <div class="w3-right w3-margin">
          <a class="w3-bar-item w3-button"  routerLink="menu" routerLinkActive="active">Menu</a>
          <a class="w3-bar-item w3-button"  routerLink="about" routerLinkActive="active">About</a>
          <a class="w3-bar-item w3-button"  routerLink="reviews" routerLinkActive="active">Reviews</a>
          <a class="w3-bar-item w3-button"  routerLink="location" routerLinkActive="active">Location</a>
          <a class="w3-bar-item w3-button"  routerLink="cart" routerLinkActive="active">Cart</a>
          <a class="w3-bar-item w3-button"  routerLink="checkout" routerLinkActive="active">Checkout</a>
        </div>
      </nav>
    </div>
  </div>
</div>